.movieShow{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content:space-between;
}

.loader{
    position: fixed;
    top:45%;
    left:45%;
    width:15%;
}
@media screen and (max-width:645px){
    .movieShow{
        width: 100%;
        display: grid;
        grid-template-columns: 100% !important;
    }
    img{
        max-width:80%;
    }
    .loader{
        position: fixed;
        top:45%;
        left:45%;
        width:15%;
    }
}